* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Montserrat", sans-serif;
  transition: background 0.3s linear, color 0.3s linear, width 0.3s linear,
    height 0.3s linear, opacity 0.3s linear, background-color 0.3s linear;
}

a {
  text-decoration: none;
  color: gold;
}

@keyframes tablerowanimation {
  from {
    transform: translateX(-100px);
  }
  to {
    transform: translateX(0px);
  }
}
@keyframes themesettinganimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
